<h4 class="ui horizontal divider header">
  <i class="github icon"></i>
    Busca usuarios de Github
</h4>


<div>
    <div class="ui fluid left icon action input" [ngClass]="{'loading':status}">              
        <input type="text"  placeholder="Github Username" name="username" [(ngModel)]="username" [formControl]="searchControl">
        <i class="search icon"></i>
        <a class="ui button blue">Buscar</a>
    </div>
</div>


<div class="ui info message">
  <div class="header">
    Info
  </div>
  <p>Ingresa el nombre de usuario para buscar...</p>
</div>




<div *ngIf="user && username" class="top-space">
    <section class="ui items animated fadeInUp">
            <div class="item">
                <article class="image">
                        <img src="{{user.avatar_url}}" alt="">
                </article>
                <article class="content">
                     <a href="#" class="header">{{user.login}}</a>
                     <div class="meta">
                         <div class="ui label teal">Public Repos<div class="detail">{{user.public_repos}}</div></div>
                         <div class="ui label blue">Public Gists<div class="detail">{{user.public_gists}}</div></div>
                         <div class="ui label grey">Followers<div class="detail">{{user.followers}}</div></div>
                         <div class="ui label violet">Following<div class="detail">{{user.following}}</div></div>
                     </div>

                    <div class="description">
                        <div class="ui list">
                            <div class="item"><strong>Location: </strong>{{user.location}}</div>
                            <div class="item"><strong>Email: </strong>{{user.email}}</div>
                            <div class="item"><strong>Blog: </strong><a href="{{user.blog}}" target="_blank">{{user.blog}}</a></div>
                            <div class="item"><strong>Member Since: </strong>{{user.created_at}}</div>
                        </div>
                    </div>
                </article>
            </div>
    </section>
</div>

<div *ngIf="repos && username" class="top-space bottom-space">

    <section class="ui middle aligned divided list animated fadeInUp">
        <article class="item" *ngFor="let repo of repos">
                    <div class="right floated content">
                        <div class="ui label blue">Watchers <div class="detail">{{repo.watchers}}</div></div>
                        <div class="ui label gray">Forks <div class="detail">{{repo.forks}}</div></div>
                    </div>
                <i class="large github middle aligned icon"></i>
                <div class="content">
                    <a class="header" href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
                    <div class="description"></div>
                </div>
        </article>
    </section>



</div>
